<div class="nav">
    <a class="nav-icon" href='/memo'><i class=' bx bx-home'></i>Home</a>
    <a class="nav-icon" href='/memo/new'><i class=' bx bx-plus'></i>Create New</a>
</div>
<div class="img">
    <img src="/src/Screenshot 2023-03-14 at 12.24.57 AM.png"/>
</div>
<div class="header">
    <h1 class="main-title">Memo Pad</h1>