<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
        <h1 class="page-title">Create New Memo</h1>
    </div>
    <form action="/memo" method="POST">
        <label for="date">Date:</label>
        <input type="text" name="date" id="date" placeholder="Ex: 3/10 (Fri)"/><br/>
        <label for="name">Title:</label>
        <input type="text" name="title" id="name" placeholder="Title of Memo"/><br/>
        <label for="text">Content:</label>
        <textarea id="text" name="text" rows="10" cols="0" placeholder="Enter text:"></textarea>
        <input class="button-primary" type="submit" value="Create Item"/>
    </form>
</body>
</html>

